[Desktop Entry]
Encoding=UTF-8
Name=Bookmark
Comment=Plasmoid that will gather and show bookmarks
Type=Service
# X-KDE-Library=bookmarkmodelplugin
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Maxime Haselbauer
X-KDE-PluginInfo-Email=maxime.haselbauer@googlemail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.bookmarkplasmoid
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks
Icon=favorites
